<?php include "admin_header.html";?>
<body>
    <div class="ui container animated fadeInRight">
        <div class="sub-title text-justify">
            <h2 class="fwn"><span class="text-muted f16">订单管理</span>/订单详情</h2></div>
        <div class="white-wrap p-xl">
            <div class="ui vertically padded grid">
                <div class="row">
                    <div class="two wide column text-muted">商品名称：</div>
                    <div class="fourteen wide column">
                       <?php echo $good['title'];?>
                    </div>
                </div>
                <div class="row">
                    <div class="two wide column text-muted">订单编号：</div>
                    <div class="fourteen wide column">
                       <?php echo $order['order_number'];?>
                    </div>
                </div>
                <div class="row">
                    <div class="two wide column text-muted">结束时间：</div>
                    <div class="fourteen wide column">
                        <div class="ui transparent input w-full">
                       		<?php echo date("Y-m-d H:i:s", $good['end_time']);?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="two wide column text-muted">成交价：</div>
                    <div class="fourteen wide column">
                       <?php echo $order["pay_price"];?>
                    </div>
                </div>
                <div class="row">
                    <div class="two wide column text-muted">费用：</div>
                    <div class="fourteen wide column">
                       <?php echo $order["fee"];?>
                    </div>
                </div>
                <div class="row">
                    <div class="two wide column text-muted">支付金额：</div>
                    <div class="fourteen wide column text-orange">
                      <?php echo $order['pay_price'] + $order["fee"];?>
                    </div>
                </div>
                <div class="row">
                    <div class="two wide column text-muted">状态：</div>
                    <div class="fourteen wide column">
                       <?php 
					   if ($order['pay_status'] == -1) {
					   		echo '已取消';
					   } else if ($order['pay_status'] == 0) {
					   		echo '待付款';
					   } else if ($order['pay_status'] == 1) {		
					   		echo '已付款';
					   } else if ($order['pay_status'] == 2) {		
					   		echo '付款失败';
					   } else if ($order['pay_status'] == 3) {		
					   		echo '已退单';
					   } 
					   ?>
                    </div>
                </div>
				<?php if (isset($address)) { ?>
                <div class="row">
                    <div class="two wide column text-muted">收货人姓名：</div>
                    <div class="fourteen wide column">
						<?php echo $address['name'];?>
                    </div>
                </div>
                <div class="row">
                    <div class="two wide column text-muted">收货人手机：</div>
                    <div class="fourteen wide column">
						<?php echo $address['telephone'];?>
                    </div>
                </div>
                <div class="row">
                    <div class="two wide column text-muted">收货人地址：</div>
                    <div class="fourteen wide column">
						<?php echo $address['province_name']." ".$address['city_name']." ".$address['area_name'] . " " . $address['address'];?>
                    </div>
                </div>
				<?php } ?>
            </div>
        </div>
        <div class="text-center mt-lg">
			<a href="/admin/order/list" class="ui button large">返回</a>
			<?php if ($order['pay_status'] != -1) {?>
            <a class="ui button yellow large" href="/admin/order/cancel?id=<?php echo $order["id"];?>">取消订单</a><?php } ?>
		</div>
    </div>
<?php include "admin_footer.html";?>

