<?php include "config.php";?>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>微艺拍后台管理系统</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="<?php echo CONFIG_BASE_URL;?>css/semantic.min.css" rel="stylesheet">
    <link href="<?php echo CONFIG_BASE_URL;?>css/animate.min.css" rel="stylesheet">
    <link href="<?php echo CONFIG_BASE_URL;?>css/webuploader/webuploader.css" rel="stylesheet">
    <link href="<?php echo CONFIG_BASE_URL;?>css/simditor/simditor.css" rel="stylesheet">
    <link href="<?php echo CONFIG_BASE_URL;?>css/common.css" rel="stylesheet">
</head>

<body>
    <div class="ui container animated fadeInRight">
        <div class="sub-title text-justify">
            <h2 class="fwn"><span class="text-muted f16">商品管理</span>/添加商品</h2></div>
        <?php if (isset($error)) { ?>
        <div class="ui visible negative message mt-n">
            <?php echo $error; ?>
        </div>
        <?php } ?>
        <div class="white-wrap p-xl">
            <form action="/admin/good/add" class="ui form" method="post" id="myForm">
                <?php if (isset($good)) { ?>
                <input name="id" value="<?php echo $good['id'];?>" style="display: none">
                <?php } ?>
                <div class="field required">
                    <label>商品名称</label>
                    <?php if (isset($good)) { ?>
                    <input type="text" placeholder="请输入商品名称" name="title" value="<?php echo $good['title'];?>">
                    <?php } else { ?>
                    <input type="text" placeholder="请输入商品名称" name="title">
                    <?php } ?>
                </div>
                <div class="three fields">
                    <div class="field required">
                        <label>作者</label>
                        <?php if (isset($good)) { ?>
                        <input type="text" placeholder="请输入作者" name="author" value="<?php echo $good['author'];?>">
                        <?php } else { ?>
                        <input type="text" placeholder="请输入作者" name="author">
                        <?php } ?>
                    </div>
                    <div class="field required">
                        <label>类别</label>
                        <select class="ui fluid dropdown type-dropdown" name="category">
                            <option value="">请选择类别</option>
                            <option value="AK" <?php if(isset($good) && $good['category'] == 'AK') echo "selected";?>>当代名画</option>
                            <option value="AZ" <?php if(isset($good) && $good['category'] == 'AZ') echo "selected";?>>现代仿品</option>
                            <option value="AR" <?php if(isset($good) && $good['category'] == 'AR') echo "selected";?>>工艺品</option>
                        </select>
                    </div>
                    <div class="field required">
                        <label>权重</label>
                        <?php if (isset($good)) { ?>
                        <input type="text" placeholder="值越小排序越靠前" name="seqid" value="<?php echo $good['seqid'];?>">
                        <?php } else { ?>
                        <input type="text" placeholder="值越小排序越靠前" name="seqid">
                        <?php } ?>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>尺寸</label>
                        <?php if (isset($good)) { ?>
                        <input type="text" placeholder="请输入尺寸" name="size" value="<?php echo $good['size'];?>">
                        <?php } else { ?>
                        <input type="text" placeholder="请输入尺寸" name="size">
                        <?php } ?>
                    </div>
                    <div class="field">
                        <label>形式</label>
                        <?php if (isset($good)) { ?>
                        <input type="text" placeholder="请输入形式" name="format" value="<?php echo $good['format'];?>">
                        <?php } else { ?>
                        <input type="text" placeholder="请输入形式" name="format">
                        <?php } ?>
                    </div>
                    <div class="field">
                        <label>钤印</label>
                        <?php if (isset($good)) { ?>
                        <input type="text" placeholder="请输入钤印" name="seal" value="<?php echo $good['seal'];?>">
                        <?php } else { ?>
                        <input type="text" placeholder="请输入钤印" name="seal">
                        <?php } ?>
                    </div>
                </div>
                <div class="four fields">
                    <div class="field required">
                        <label>加价金额</label>
                        <?php if (isset($good)) { ?>
                        <input type="text" placeholder="请输入加价金额" name="incr_price" value="<?php echo $good['incr_price'];?>">
                        <?php } else { ?>
                        <input type="text" placeholder="请输入加价金额" name="incr_price" value="100">
                        <?php } ?>
                    </div>
                    <div class="field required">
                        <label>保证金</label>
                        <?php if (isset($good)) { ?>
                        <input type="text" placeholder="请输入保证金" name="security_deposit" value="<?php echo $good['security_deposit'];?>">
                        <?php } else { ?>
                        <input type="text" placeholder="请输入保证金" name="security_deposit">
                        <?php } ?>
                    </div>
                    <div class="field required">
                        <label>起拍价</label>
                        <?php if (isset($good)) { ?>
                        <input type="text" placeholder="请输入起拍价" name="start_price" value="<?php echo $good['start_price'];?>">
                        <?php } else { ?>
                        <input type="text" placeholder="请输入起拍价" name="start_price">
                        <?php } ?>
                    </div>
                    <div class="field required">
                        <label>参考价</label>
                        <?php if (isset($good)) { ?>
                        <input type="text" placeholder="请输入参考价" name="market_price" value="<?php echo $good['market_price'];?>">
                        <?php } else { ?>
                        <input type="text" placeholder="请输入参考价" name="market_price">
                        <?php } ?>
                    </div>
                </div>
                <!--  <div class="field required">
                    <label>开始结束时间</label>
                    <?php if (isset($good)) { ?>
                    <input type="text" placeholder="<?php echo date(" Y-m-d H:i:s ",$good['start_time']);?>-<?php echo date("Y-m-d H:i:s ",$good['end_time']);?>" id="time" name="">
                    <?php } else { ?>
                    <input type="text" placeholder="请输入开始结束时间" id="time" name="">
                    <?php } ?>
                </div> -->
                <div class="two fields">
                    <div class="field required">
                        <label>开始时间</label>
                        <?php if (isset($good)) { ?>
                        <input type="text" placeholder="请输入开始时间" id="start_time" name="start_time" value="<?php echo date(" Y-m-d H:i:s ",$good['start_time']);?>">
                        <?php } else { ?>
                        <input type="text" placeholder="请输入开始时间" id="start_time" name="start_time">
                        <?php } ?>
                    </div>
                    <div class="field required">
                        <label>结束时间</label>
                        <?php if (isset($good)) { ?>
                        <input type="text" placeholder="请输入结束时间" id="end_time" name="end_time" value="<?php echo date(" Y-m-d H:i:s ",$good['end_time']);?>">
                        <?php } else { ?>
                        <input type="text" placeholder="请输入结束时间" id="end_time" name="end_time">
                        <?php } ?>
                    </div>
                </div>
                <div id="uploader-demo" class="mb-sm">
                    <?php if (isset($good)) { ?>
                    <div id="fileList" class="uploader-list">
                        <div class="file-item thumbnail"><img src="<?php echo $good['pic_url'];?>"></div>
                    </div>
                    <div id="filePicker">上传封面图</div><span class="text-muted">封面图比例为4：3，例：600*400</span>
                    <input name="pic" value="<?php echo $good['pic_url'];?>" id="pic" style="display: none">
                    <?php } else { ?>
                    <div id="fileList" class="uploader-list"></div>
                    <div id="filePicker">上传封面图</div><span class="text-muted">封面图比例为4：3，例：600*400</span>
                    <input name="pic" value="" style="display: none" id="pic">
                    <?php } ?>
                </div>
                <?php if (isset($good)) { ?>
                <textarea id="editor" placeholder="商品详情" autofocus name="description"><?php echo $good['description'];?></textarea>
                <?php } else { ?>
                <textarea id="editor" placeholder="商品详情" autofocus name="description"></textarea>
                <?php } ?>
                <div class="text-center mt-lg">
                    <input class="ui button blue large" type="submit" value="保存" method="post">
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="<?php echo CONFIG_BASE_URL;?>js/jquery.js"></script>
    <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script type="text/javascript" src="<?php echo CONFIG_BASE_URL;?>js/semantic.min.js"></script>
    <script type="text/javascript" src="<?php echo CONFIG_BASE_URL;?>js/webuploader/webuploader.js"></script>
    <script src="<?php echo CONFIG_BASE_URL;?>js/laydate/laydate.js"></script>
    <!-- 文本编辑器 -->
    <script type="text/javascript" src="<?php echo CONFIG_BASE_URL;?>js/simditor/module.js"></script>
    <script type="text/javascript" src="<?php echo CONFIG_BASE_URL;?>js/simditor/hotkeys.js"></script>
    <script type="text/javascript" src="<?php echo CONFIG_BASE_URL;?>js/simditor/uploader.js"></script>
    <script type="text/javascript" src="<?php echo CONFIG_BASE_URL;?>js/simditor/simditor.js"></script>
    <script type="text/javascript">
    $('.type-dropdown').dropdown()
    var editor = new Simditor({
        textarea: $("#editor"),
        defaultImage: "img/head.jpg",
        upload: {
            url: '/upload/simditor', //文件上传的接口地址，对应的php里面和平时的表单控件上传图片一样$_FILES
            params: null,
            fileKey: 'pic[]',
            connectionCount: 3,
            leaveConfirm: '正在上传文件...'
        }
    })
    var uploader = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: true,

        // swf文件路径
        swf: '/img/Uploader.swf',

        // 文件接收服务端。
        server: '/upload/pic',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: {
            id: '#filePicker',
            multiple: false
        },
        fileNumLimit: 1,
        fileVal: 'pic[]',

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });
    // 当有文件添加进来的时候
    uploader.on('fileQueued', function(file) {
        var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>'
            ),
            $img = $li.find('img');
        // $list为容器jQuery实例
        $('#fileList').html($li);

        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 100 x 100
        uploader.makeThumb(file, function(error, src) {
            if (error) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr('src', src);
        }, 100, 100);
    });
    uploader.on('uploadProgress', function(file, percentage) {
        var $li = $('#' + file.id),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if (!$percent.length) {
            $percent = $('<p class="progress"><span></span></p>')
                .appendTo($li)
                .find('span');
        }

        $percent.css('width', percentage * 100 + '%');
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on('uploadSuccess', function(file, response) {
        $('#' + file.id).addClass('upload-state-done');
        $('#pic').val(response.data)
    });

    // 文件上传失败，显示上传出错。
    uploader.on('uploadError', function(file) {
        var $li = $('#' + file.id),
            $error = $li.find('div.error');

        // 避免重复创建
        if (!$error.length) {
            $error = $('<div class="error"></div>').appendTo($li);
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on('uploadComplete', function(file) {
        $('#' + file.id).find('.progress').remove();
    });
    laydate.render({
        elem: '#start_time',
        //min:Date.now(),
        type: 'datetime'
    })
    laydate.render({
        elem: '#end_time',
        //min:Date.now(),
        type: 'datetime'
    });
    // $('#myForm').submit(function() {
    //     $.ajax({
    //         data: $('#myForm').serialize(),
    //         dataType: "json",
    //         error: function(data) {
    //             alert(data,'1');
    //         },
    //         success: function(data) {
    //             alert(data,'2');
    //         }
    //     });
    // });
    </script>
</body>

</html>
